@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-text-main font-sans antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface-dark/70 backdrop-blur-xl border border-white/10 rounded-[40px] shadow-2xl;
  }

  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(168, 85, 247, 0.5);
  }
}